{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DataScience</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <style>
            .cnngineer{
                background-color: lightgrey;
                width: 400px;
                padding: 25px;
                border: 10px solid navy;
                margin: 120px;
            }
            .cnn {
               
                
            }
            </style>
</head>

<body>


    <div class="container">
        <form method="POST" action="" class="shadow-lg p-3 mb-5 bg-white rounded">
            {% csrf_token %}
            <div class="form-group">
                <center><h2>Test Text</h2></center><br>
                <textarea class="form-control" rows="3" name="chat" required></textarea>
            </div>
            <button type="submit" class="btn btn-info btn-lg btn-block">Test</button>
            <br>
            <center><h1>{{ label }}</h1></center>
        </form>
    </div>

    <div class="row" >
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="card" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">From: (Craig Allen Lorie)</h5>
              <h6 class="card-subtitle mb-2 text-muted">(Craig Allen Lorie) writes:</h6>
              <p class="card-text">&nbsp;With everyone bitching about the hockey coverage by ESPN its almost like the Detroit-Toronto game was not televised last nite.  I was just thankful to see hockey on a night that it wasn't supposed to be carried.  Thanks to ESPN, no matter why they televised the game</p>
              <a href="https://github.com/qiwsir/BuildingMachingLearning/blob/master/03/379/raw/rec.sport.hockey/10004-53804" class="card-link">article link</a>
              <a href="https://github.com/qiwsir/BuildingMachingLearning/tree/master/03/379/raw/rec.sport.hockey" class="card-link">Another link</a>
            </div>
          </div>

         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="card" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">In article From (Rex Wang)</h5>
              <h6 class="card-subtitle mb-2 text-muted">Subject: Tie Breaker....(Isles and Devils)</h6>
              <p class="card-text"> &nbsp;&nbsp;Are people here stupid or what??? It is a tie breaker, of cause they have to have the same record. How can people be sooooo stuppid to put win as first in the list for tie breaker??? If it is a tie breaker, how can there be different record???? Man, I thought people in this net are good with hockey. I might not be great in Math, but tell me how can two teams ahve the same points with different record??? Man...retard!!!!!! Can't believe people actually put win as first in a tie breaker......</p>
              <a href="https://github.com/qiwsir/BuildingMachingLearning/blob/master/03/379/raw/rec.sport.hockey/10016-53621" class="card-link">article link</a>
              <a href="https://github.com/qiwsir/BuildingMachingLearning/tree/master/03/379/raw/rec.sport.hockey" class="card-link">Another link</a>
            </div>
          </div>

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="card" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">From: (Ken Beal) </h5>
              <h6 class="card-subtitle mb-2 text-muted">Subject: Re: Once tapped, your code is no good any more.</h6>
              <p class="card-text">&nbsp;&nbsp;Just doing a quick reality check here - is this for real or did someone invent it to provoke a reaction from people?  It sounds more like the sort of thing you'd have heard, suitably rephrased, from the leader of a certain German political party in the 1930's....It sounds like a joke (but then the war on drugs has always been a joke...). </p>
              <a href="https://github.com/dgrtwo/tidy-text-mining/blob/master/data/20news-bydate/20news-bydate-test/sci.crypt/15739" class="card-link">article link</a>
              <a href="https://github.com/dgrtwo/tidy-text-mining/tree/master/data/20news-bydate/20news-bydate-test/sci.crypt" class="card-link">Another link</a>
            </div>
          </div>

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="card" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">From: (David Sternlight) </h5>
              <h6 class="card-subtitle mb-2 text-muted">Subject: Re: The Escrow Database.e</h6>
              <p class="card-text">This is pernicious nonsense!</p>
              <p> &nbsp;&nbsp; In what way David?  Our government is totally out of control, whether you realize it or not.  I know you find it painful to think of your old buddy Uncle Sam as evil but it's true.  Other democracies have fallen before.  Ours is on its way and knee-jerk sheep that instinctively trust government are helping it slide. Power corrupts David, why is that so hard to understand?</p>
              <a href="https://github.com/dgrtwo/tidy-text-mining/blob/master/data/20news-bydate/20news-bydate-test/sci.crypt/15747" class="card-link">article link</a>
              <a href="https://github.com/dgrtwo/tidy-text-mining/tree/master/data/20news-bydate/20news-bydate-test/sci.crypt" class="card-link">Another link</a>
            </div>
          </div>
          <br><br>
          
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="card" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">From: (Dorin Baru) </h5>
              <h6 class="card-subtitle mb-2 text-muted">Subject: Re: ISLAM BORDERS vs Israeli borders</h6>
              <h6>Ilyess Bdira writes:</h6>
              <p class="card-text"> &nbsp;&nbsp;The Islamic world dreams of being the whole planet, but not by kicking the current inhabitant out, we rather deam of the day everybody converts. If Jews had the same dream, I would not feel threatened a bit. </p>
              <a href="https://github.com/bahbbc/dataMining20NewsGroup/blob/master/20news-bydate/20news-bydate-train/talk.politics.mideast/75386" class="card-link">article link</a>
              <a href="https://github.com/bahbbc/dataMining20NewsGroup/tree/master/20news-bydate/20news-bydate-train/talk.politics.mideast" class="card-link">Another link</a>
            </div>
          </div>

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="card" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">From: (Edward A Shnekendorf) </h5>
              <h6 class="card-subtitle mb-2 text-muted">Subject: Re: ISLAM BORDERS vs Israeli borders</h6>
              <h6>In article (Ilyess Bdira) writes: </h6>
              <p class="card-text"> &nbsp;&nbsp;1)why do jews who don't even believe in God (as is the case with many of the founders of secular zionism) have a right in Palestine more than the inhabitants of Palestine, just because God gave you the land? G-d has nothing to do with it. Some of the land was in fact given to the Jews by the United Nations, quite a bit of it was purchased from Arab absentee landlords. Present claims are based on prior ownership (purchase from aforementioned absentee landlords) award by the United Nations in the partition of the Palestine mandate territory, and as the result of defensive wars fought against the Egyptians, Syrians, Jordanians, et al.  </p>
              <a href="https://github.com/bahbbc/dataMining20NewsGroup/blob/master/20news-bydate/20news-bydate-train/talk.politics.mideast/75404" class="card-link">article link</a>
              <a href="https://github.com/bahbbc/dataMining20NewsGroup/tree/master/20news-bydate/20news-bydate-train/talk.politics.mideast" class="card-link">Another link</a>
            </div>
          </div>

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="card" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">From: (Alan Stein) </h5>
              <h6 class="card-subtitle mb-2 text-muted">Subject: Re: Water on the brain (was Re: Israeli Expansion-lust)</h6>
              <p class="card-text">I guess Hasan finally revealed the source of his claim that Israel diverted water from Lebanon--his imagination.</p>
              <a href="https://github.com/bahbbc/dataMining20NewsGroup/blob/master/20news-bydate/20news-bydate-train/talk.politics.mideast/75885" class="card-link">article link</a>
              <a href=https://github.com/bahbbc/dataMining20NewsGroup/tree/master/20news-bydate/20news-bydate-train/talk.politics.mideast" class="card-link">Another link</a>
            </div>
          </div>

</div>
   
   



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>
